.pagination {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.pageLink {
  opacity: 0.5;
  cursor: pointer;
  font: var(--font-secondary-bold);
}

.previous,
.activeLink,
.next {
  opacity: 1;
  cursor: pointer;
  font: var(--font-secondary-bold);
  display: flex;
  justify-content: center;
  align-items: center;
}

.next {
  padding-left: 25px;
}

.previous {
  padding-right: 25px;
}

.disabled {
  cursor: auto;
  opacity: 0.5;
}
