.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xs);
}

.pageLink {
  opacity: 0.5;
  cursor: pointer;
  font: var(--font-secondary-bold);
}

.previous {
  opacity: 1;
  cursor: pointer;
  font: var(--font-secondary-bold);
}

.disabled {
  cursor: auto;
  opacity: 0.5;
}
