.light {
  font: var(--font-light);
}
.regular {
  font: var(--font-regular);
}
.medium {
  font: var(--font-medium);
}
.primaryBold {
  font: var(--font-primary-bold);
}
.secondaryBold {
  font: var(--font-secondary-bold);
}
.header {
  font: var(--font-header);
}
.homeTitle {
  font: var(--font-home-title);
}
