@import '@/app/style/breakpoints.scss';

.wrapper {
  width: fit-content;
  position: relative;

  @include mobile {
    width: 100%;
  }

  @include tablet {
    width: 100%;
  }

  @include minDesktop {
    width: 100%;
  }

  @include desktop {
    width: 100%;
  }
}

.opacity {
  opacity: 0.5;
}

.btn {
  width: 290px;
  height: 40px;
  padding-left: var(--padding-xl);
  padding-right: var(--padding-l);
  cursor: pointer;
  border: 1px solid var(--select-border-color);
  background-image: var(--select-background);
  transition: var(--transition-duration-regular);
  z-index: var(--modal-z-index);

  &:hover {
    background: var(--hovered-select-background);
  }

  &:focus {
    outline: 1px solid var(--text-main-color);
  }

  @include mobile {
    width: 100%;
    min-width: 277px;
    height: 80px;
    padding-left: 27px;
    padding-right: 10px;
  }

  @include tablet {
    width: 100%;
  }

  @include minDesktop {
    width: 100%;
  }

  @include desktop {
    width: 100%;
  }
}

.textOverflow {
  @include mobile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.options {
  z-index: var(--z-index-2);
  border: 1px solid var(--select-border-color);
  position: absolute;
  width: 290px;
  background: var(--header-color);
  box-shadow: 4px 4px 8px var(--header-color);
  outline: 1px solid var(--text-main-color);
  overflow: hidden;

  & li {
    padding-left: var(--padding-xl);
    text-align: left;
    cursor: pointer;
  }

  @include mobile {
    min-width: 277px;
    width: 100%;

    & li {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-left: 27px;
    }
  }

  @include tablet {
    width: 100%;
  }

  @include minDesktop {
    width: 100%;
  }

  @include desktop {
    width: 100%;
  }
}

.text {
  @include mobile {
    font-size: var(--font-size-m);
  }
}

.active {
  background: var(--hovered-select-background);
  box-shadow: 4px 4px 8px var(--header-color);
}
