@import '@/app/style/breakpoints.scss';

.price {
  gap: var(--gap-m);

  & > span:first-child {
    text-decoration: line-through;
  }

  & > span:not(:first-child) {
    color: var(--sale-color);
  }

  @include mobile {
    span {
      font-size: calc(var(--font-size-l) - 3px);
      line-height: calc(var(--font-line-s) - 0.02);
    }

    font-size: calc(var(--font-size-l) - 3px);
    line-height: calc(var(--font-line-s) - 0.02);
  }
}
