.img {
  position: relative;
}

.desktopLittle {
  object-fit: contain;
  width: 127px;
  height: 127px;
}

.desktopDashboard {
  object-fit: contain;
  width: 280px;
  height: 280px;
}

.desktopBig {
  object-fit: contain;
  width: 425px;
  height: 425px;
}

.mobileDesktop {
  object-fit: contain;
  width: 280px;
  height: 280px;
}

.mobileLittle {
  object-fit: contain;
  width: 132px;
  height: 135px;
}

.mobileBig {
  object-fit: contain;
  width: 100%;
  height: 554px;
}

.special {
  position: absolute;
  left: 0;
  top: 13px;
  z-index: var(--z-index-1);
  width: 171px;
  height: 46px;
}
