.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 1px solid green;
}

.other {
  width: 90%;
  max-width: 1250px;
  margin: 0 auto;
  border: 1px solid rgb(97, 83, 68);
  flex: 1;
}
