@import '@/app/style/breakpoints.scss';

.img {
  margin-bottom: calc(var(--margin-m) * 1.5);
}

.card {
  margin-bottom: 97px;
  cursor: pointer;

  @include mobile {
  }
}

.name {
  @include mobile {
    font-size: var(--font-size-xl);
    line-height: calc(var(--font-line-xs) - 0.1);
  }
}
