@import '@/app/style/breakpoints.scss';

.text,
.quantity {
  font-size: var(--font-size-xl);

  @include mobile {
    font-size: var(--font-size-m);
  }

  @include tablet {
    font-size: var(--font-size-m);
  }
}

.quantity {
  margin-top: -5px;

  @include mobileDesign {
    & span {
      font-size: 32px;
    }
  }
}

.text {
  font-size: 16px;
  padding-left: 22px;
}
