@import '@/app/style/breakpoints.scss';

.header {
  padding-top: calc(var(--padding-xxl) + 12px);
  width: 100%;
  background: var(--header-color);

  & > div {
    width: 90%;
    max-width: 1250px;
  }

  @include mobile {
    padding-top: calc(var(--padding-xxl) + 6px);
  }
  @include tablet {
    padding-top: calc(var(--padding-xxl) + 5px);
  }
}

.divider {
  margin: 0;
  margin-top: calc(var(--margin-xl) + 6px);
  border: 1px solid var(--divider-color);

  @include mobile {
    margin-top: calc(var(--margin-xl) + 1px);
  }

  @include mobileDesign {
    margin-top: calc(var(--margin-xl) + 1px);
  }
}

.img {
  width: 239px;
  height: 29px;

  @include mobile {
    width: 100%;
    height: 40px;
  }

  @include tablet {
    width: 330px;
    height: 40px;
  }

  @include mobileDesign {
    margin-top: 9px;
    margin-left: 5px;
  }
}

.homeLink {
  font: var(--font-medium);
  padding: var(--padding-l) 0;
  margin-left: -6px;

  @include mobileDesign {
    font-size: 25px;
    margin-left: 7px;
    padding: 7px 0;
  }

  .active {
    color: var(--sale-color);

    @include tablet {
      margin-left: -3px;
      padding-top: 0;
      font-size: 26px;
    }
  }
}
