@import './variables';
@import './resets';
@import './breakpoints.scss';
@import './fonts';
@import 'react-toastify/scss/main.scss';

body {
  font-family: var(--font-family-main);
  font: var(--font-regular);
  color: var(--text-main-color);
  background-color: var(--main-color);
}

.border {
  border: 1px solid red;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.otherInContainer {
  width: 90%;
  max-width: 1250px;
  margin: 0 auto;
  flex: 1;
}
